# CocoaPods
Pods/

# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Build
build/
DerivedData/

# Firebase
GoogleService-Info.plist

# OS X
.DS_Store
.AppleDouble
.LSOverride

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_outputods